<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">


<body>
<br>
    <h1 style="text-align:center">Certificate</h1>
<br>
<div class="row" >
    <div class="column ">
        <img src="https://cdn.glitch.global/f1712763-ae74-4c61-9af5-f7f160e9ba1a/AZURE1.jpg?v=1677231055827" style="width:100%; height: 100%;"
            class="hover-shadow cursor">
    </div>
    <div class="column">
        <img src="https://cdn.glitch.global/f1712763-ae74-4c61-9af5-f7f160e9ba1a/sql_advanced%20certificate.jpg?v=1677217393715" style="width:100%" 
            class="hover-shadow cursor">
    </div>
    <div class="column">
        <img src="https://cdn.glitch.global/f1712763-ae74-4c61-9af5-f7f160e9ba1a/golang_basic%20certificate.jpg?v=1677217662185" style="width:100%" 
            class="hover-shadow cursor">
    </div>
    <div class="column">
        <img src="https://cdn.glitch.global/f1712763-ae74-4c61-9af5-f7f160e9ba1a/Java%20(Basic).png?v=1677216369288" style="width:100%" 
            class="hover-shadow cursor">
    </div>
</div>

<div class="row" style="margin-top: 20px;">
    <div class="column">
        <img src="https://cdn.glitch.global/f1712763-ae74-4c61-9af5-f7f160e9ba1a/Problem%20Solving%20(Basic).png?v=1677216374139" style="width:100%" 
            class="hover-shadow cursor">
    </div>
    <div class="column">
        <img src="https://cdn.glitch.global/f1712763-ae74-4c61-9af5-f7f160e9ba1a/Ethical%20Hacking%20Training%20-%20Certificate%20of%20Completion.jpg?v=1677217118367" style="width:100%" 
            class="hover-shadow cursor">
    </div>
    <div class="column">
        <img src="https://cdn.glitch.global/f1712763-ae74-4c61-9af5-f7f160e9ba1a/sql_intermediate%20certificate.jpg?v=1677217664413" style="width:100%" 
            class="hover-shadow cursor">
    </div>
    <div class="column">
        <img src="https://cdn.glitch.global/f1712763-ae74-4c61-9af5-f7f160e9ba1a/javascript_basic%20certificate.jpg?v=1677217672020" style="width:100%" 
            class="hover-shadow cursor">
    </div>
</div>

<div class="row" style="margin-top: 20px;">
    <div class="column">
        <img src="https://cdn.glitch.global/f1712763-ae74-4c61-9af5-f7f160e9ba1a/SQL%20(Basic).png?v=1677216398912" style="width:100%" 
            class="hover-shadow cursor">
    </div>

</div>

</body>

</html>