<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Angular</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body id="element">
    <div id="element1"> ddddddddddddddddddd</div>
    <div id="element2">ffffffffffffffffffffffsssssssssssssssssssss </div>
    <div id="element3">sssssssssssssssssssss </div>
    <div id="vanta-element" style="color: aliceblue; height: 670px;">sssssssssssssssssssss </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta@0.5.24/dist/vanta.birds.min.js"></script>
    <script>
        VANTA.BIRDS('#element')
      </script>


</body>

</html>