<div class="container" style="margin-top: 70px; text-align: center;">
    <p>hello-world works!</p>
<p>

    hello-world works!
    {{name}}
    
    
    </p>
    <h1>Add Employee</h1>     
    <form (ngSubmit)="onSubmit()">
        <label>
            Id:
            <input type="text" [(ngModel)]="employee.id" name="id" />
          </label>
          <br />
          <label>
            Name:
            <input type="text" [(ngModel)]="employee.name" name="name" />
          </label>
          <br />
          <label>
            Email:
            <input type="email" [(ngModel)]="employee.email" name="email" />
          </label>
          <br />
          <label>
            Description:
            <input type="text" [(ngModel)]="employee.description" name="description" />
          </label>
          <br />
            <button type="submit">Add Employee</button>
      </form>
</div>