<!-- <br><br><br> -->
<!-- <h1>Product-List </h1> -->
<button class=" fixed-top btn cart navbar" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
  aria-controls="offcanvasRight">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cart</button>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Cart</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">


    <div class=" card text-center sticky-bottom" *ngIf="selecteditem">
      <div class="card-header">
        <div class="column continer">
          <div class="chip " *ngFor="let selectproduct of selecteditem">
            <img [src]="selectproduct.itemsrc" alt="Person" width="96" height="96">
            <span class="test1">{{selectproduct.itemname}}</span>
            <span class="closebtn" (click)="deleteitem(selectproduct.itemid)">&times;</span>
          </div>
        </div>
        <!-- {{selecteditem| json}}
        {{index}}                   onclick="this.parentElement.style.display='none'"
        {{selectedproduct| json}} -->
      </div>
      <div class="card-block">
        <br>
        <h4 class="card-title" *ngIf="total">
          Your Total Is {{tt}} Items : {{total | currency:'INR' }}
        </h4>
        <br>
        <!-- <p class="card-text" *ngIf="total">
          Your total is {{tt}} items : {{total | currency:'INR' }}
        </p> -->
      </div>
    </div>


  </div>
</div>
<br>

<div class="container ">


  <div class="row  ">

    <div class="cardss " *ngFor="let product of Products">
      <img src="{{ product.src }}" alt="Denim Jeans" style="width:100%; height:200px">
      <h1>{{ product.name }}</h1>
      <p class="price">{{ product.price | currency:'INR' }}</p>
      <p>{{ product.description }}</p>
      <p><button class="buttonclass" (click)="selectitem(product.id)">Add to Cart</button></p>
      <!-- <p><button class="buttonclass" (click)="selectitem(product.id)" >Add to Cart<span class="badge" *ngIf="selectedditem === product.id" >{{selectedditem}}</span></button></p> -->

    </div>


  </div>





</div>