

        <div class="ratio ratio-16x9">
            <iframe
            src="https://cirruslabsio-my.sharepoint.com/personal/shamna_cirruslabs_io/_layouts/15/Doc.aspx?sourcedoc={8276f2f3-2802-40af-b740-4525aba4ff6e}&amp;action=embedview&amp;wdAr=1.7777777777777777"
            allowfullscreen>This is an embedded <a target="_blank"
                href="https://office.com">Microsoft Office</a> presentation, powered by <a target="_blank"
                href="https://office.com/webapps">Office</a>.</iframe>
          </div>